.form {
  .row .col:first-child {
    padding-right: 4px;
  }
  .form-element {
    margin-bottom: 1rem;
    &.textarea {
      margin: 2rem 0;
    }
    .form-label {
      font-size: 0.75rem;
      margin-bottom: 8px;
      font-weight: 500;
    }
    .form-control {
      border-radius: 32px;
      border: 2px solid $orange;
      padding: 8px 30px 8px 24px;
      height: 40px;
      &:focus {
        box-shadow: none;
      }
    }
    .form-text {
      font-size: 0.75rem;
      color: $red;
    }
    textarea {
      height: 124px !important;
      resize: none;
    }
  }
  .buttons {
    margin-bottom: 1rem;
  }
  .goto-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > p {
      margin: 0;
    }
    > a:hover {
      color: $orange;
    }
  }
}
.modal form > .buttons {
  > input {
    display: inline-block;
    margin-right: 30px;
    width: 137px;
  }
  button {
    display: inline-block;
    &:focus {
      box-shadow: none;
    }
  }
}
