.navbar-toggler {
  &:focus {
    box-shadow: none;
  }
}
.navbar {
  min-height: 96px;
  padding: 30px 35px;
  box-shadow: 0 0 8px rgba($color: $dark, $alpha: 0.15);
}
.navbar .container-fluid .header-buttons {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  > button,
  > a {
    margin: 0;
    padding: 0;
  }
}
.navbar-collapsible {
  position: fixed;
  top: 0;
  left: 0;
  background: $white;
  width: 100%;
  transition: 0.35s ease-in-out;
  transform: translateY(0);
  padding: 30px 35px;
  box-shadow: 0 0 8px rgba($color: $dark, $alpha: 0.15);
  z-index: 100;
  &.collapsible {
    transform: translateY(-100%);
  }
}
.navbar .navbar-nav {
  > li {
    &:first-child {
      margin: 25px 0 42px 0;
    }
    &:nth-child(2) {
      margin-bottom: 16px;
    }
    .nav-link {
      color: $dark;
      font-size: 1.5rem;
      padding: 0;
      > span {
        width: calc(100% - 25px);
        display: inline-block;
      }
    }
    button.nav-link {
      background: transparent;
      border: none;
      width: 100%;
      text-align: left;
    }
    &:last-child {
      button.nav-link {
        color: $orange;
        > svg > path {
          fill: $orange;
        }
      }
    }
  }
  &.isAuth {
    > li {
      margin-bottom: 48px;
      &:last-child {
        margin-bottom: 18px;
      }
      &.user-item {
        > a {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-size: 1.5rem;
          text-decoration: none;
          color: $dark;
        }
        .MuiAvatar-root {
          width: 48px;
          height: 48px;
          margin-right: 32px;
        }
      }
    }
  }
}
@media #{$large} {
  .navbar {
    box-shadow: none;
    z-index: 10;
  }
  .navbar .navbar-nav {
    align-items: center;
    > li {
      &:first-child {
        margin: 0 31px 0 0;
        width: 137px;
      }
      &:nth-child(2) {
        margin-bottom: 0;
        width: 137px;
      }
    }
    &.isAuth {
      > li {
        width: max-content;
        margin-bottom: 0;
        margin-right: 24px;
        &:last-child {
          margin-right: 0;
        }
        &:nth-child(3) {
          margin-right: 32px;
        }
        button,
        .nav-link {
          font-size: 1rem;
          > span {
            width: 100%;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
        &.user-item {
          margin-right: 16px;
          > a {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 1rem;
          }
          .MuiAvatar-root {
            margin-right: 0;
          }
        }
        button.add-quote {
          background: transparent;
          border: none;
          width: 100%;
          width: 48px;
          height: 48px;
          text-align: center;
          background: $white;
          border-radius: 50%;
          color: $orange;
        }
      }
    }
  }
}
