.navbar-toggler {
  &:focus {
    box-shadow: none;
  }
}
.navbar-toggler:not(.collapsed) ~ .navbar-brand {
  opacity: 0;
  pointer-events: none;
}
.navbar {
  min-height: 96px;
  padding: 30px 35px;
  box-shadow: 0 0 8px rgba($color: $dark, $alpha: 0.15);
}
.navbar .container-fluid .header-buttons {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  > button,
  > a {
    margin: 0;
    padding: 0;
  }
}
.navbar .navbar-nav {
  > li {
    &:first-child {
      margin: 25px 0 42px 0;
    }
    &:nth-child(2) {
      margin-bottom: 16px;
    }
    .nav-link {
      color: $dark;
      font-size: 1.5rem;
      position: relative;
      > span {
        width: calc(100% - 25px);
        display: inline-block;
      }
      > .MuiSvgIcon-root {
        font-size: 2rem;
      }
    }
  }
}
