.login-page,
.register-page {
  .content {
    max-width: 480px;
    width: 100%;
    padding: 0 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    > p {
      text-align: center;
      font-size: 1rem;
    }
  }
  .background-image {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
.register-page ~ img,
.login-page ~ img {
  display: none;
}
/* Modals */
.modal {
  padding-top: 95px;
  .modal-dialog {
    margin: 0 auto;
    max-width: 595px;
    .modal-body {
      padding: 40px 32px 32px 32px;
      .page-title {
        margin-bottom: 1rem;
      }
    }
  }
}
/* Home */
.home-page {
  > div {
    padding: 50px 35px 0;
  }
  .explore-title {
    text-align: center;
    width: 100%;
    margin-top: 61px;
    > span {
      display: block;
      color: $orange;
    }
  }
}
/* Hero */
.hero-section {
  .row .col-lg-6 {
    &:first-child {
      padding: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  h1 {
    margin-bottom: 1rem;
    > span {
      display: block;
      color: $dark;
      > span {
        color: $orange;
      }
    }
  }
  p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 530px;
  }
}
/* QuoteBlock */
.quote-block {
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  margin: 2rem auto 0 auto;
  max-width: 420px;
  display: flex;
  padding: 1rem 2rem 1rem 1rem;
  background: $white;
  .voting {
    display: flex;
    width: 27px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > button {
      background: transparent;
      border: none;
    }
  }
  .quote-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 21px;
    width: 268px;
    .quote-text {
      font-size: 1rem;
      margin-bottom: 13px;
      line-height: 18.78px; // line-height: 1.17;
    }
    .quote-user {
      display: flex;
      align-items: center;
      margin-left: -8px;
      .quote-username {
        font-size: 0.75rem;
        margin-left: 2px;
      }
    }
  }
}
.homepage-most-recent,
.homepage-most-liked {
  text-align: center;
  margin-top: 64px;
  > h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  > p {
    font-size: 1rem;
    max-width: 524px;
    margin: 0 auto 48px;
  }
  .quotes-wrap {
    text-align: left;
    > div {
      margin: 0 auto 19px auto;
    }
  }
  .load-more {
    width: 148px;
    margin: 2rem auto 0;
  }
  .signup {
    width: 184px;
  }
}
.homepage-most-liked.signup,
.homepage-most-recent {
  margin: 69px 0 120px;
}
// Background images
.background-image1,
.background-image2,
.background-image3 {
  position: absolute;
  z-index: -1;

  &.background-image1 {
    top: 0;
    right: 0;
  }
  &.background-image2 {
    top: 0;
    left: 0;
  }
  &.background-image3 {
    top: 0;
    right: 0;
  }
}
@media #{$large} {
  .home-page {
    .explore-title {
      margin-top: 174px;
      font-size: 3.8125rem;
    }
  }
  .hero-section {
    h1 {
      font-size: 5.125rem;
    }
  }
  .homepage-most-liked {
    margin-top: 124px;
    > h2 {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }
    > p {
      margin: 0 auto 38px;
    }
    .quotes-wrap {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 735px;
      > div {
        margin: 0 0 19px 0;
        width: calc(100% / 3 - 40px);
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
          margin-left: 20px;
          margin-right: 20px;
        }
      }
    }
    .load-more {
      width: 148px;
      margin: 48px auto 0;
    }
  }
  .homepage-most-recent {
    margin: 128px 0 182px;
  }
  .background-image1,
  .background-image2,
  .background-image3 {
    &.background-image1 {
      top: 0;
      right: 0;
    }
    &.background-image2 {
      top: 400px;
      left: 0;
    }
    &.background-image3 {
      top: 550px;
      right: 0;
    }
  }
}
@media #{$xxlarge} {
  .hero-section {
    h1 {
      font-size: 6.125rem;
    }
  }
}
