.login-page,
.register-page {
  .content {
    max-width: 480px;
    width: 100%;
    padding: 0 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    > p {
      text-align: center;
      font-size: 1rem;
    }
  }
  .background-image {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
/* Modals */
.modal {
  padding-top: 95px;
  .modal-dialog {
    margin: 0 auto;
    max-width: 595px;
    .modal-body {
      padding: 40px 32px 32px 32px;
      .page-title {
        margin-bottom: 1rem;
      }
    }
  }
}
.home-page {
  > div {
    padding: 50px 35px 0;
  }
  .explore-title {
    text-align: center;
    width: 100%;
    margin-top: 61px;
    > span {
      display: block;
      color: $orange;
    }
  }
}
@media #{$large} {
  .home-page {
    .explore-title {
      margin-top: 174px;
      font-size: 3.8125rem;
    }
  }
}
/* Hero */
.hero-section {
  .row .col-lg-6 {
    &:first-child {
      padding: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  h1 {
    margin-bottom: 1rem;
    > span {
      display: block;
      color: $dark;
      > span {
        color: $orange;
      }
    }
  }
  p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 530px;
  }
}
@media #{$large} {
  .hero-section {
    h1 {
      font-size: 5.125rem;
    }
  }
}
@media #{$xxlarge} {
  .hero-section {
    h1 {
      font-size: 6.125rem;
    }
  }
}
